In [5]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [57]:
# import and set up dataframes

#   Outpatients
tennessee_outpatient_clean = pd.read_csv('../data/tennessee_outpatient_clean.csv')
nashville_outpatient_clean = pd.read_csv('../data/nashville_outpatient_clean.csv')
# nyc_outpatient_clean = pd.read_csv('../data/nyc_outpatient_clean.csv')
# la_outpatient_clean = pd.read_csv('../data/la_outpatient_clean.csv')

#   Providers
tennessee_providers_clean = pd.read_csv('../data/tennessee_providers_clean.csv')
nashville_providers_clean = pd.read_csv('../data/nashville_providers_clean.csv')
# nyc_providers_clean = pd.read_csv('../data/nyc_providers_clean.csv')
# la_providers_clean = pd.read_csv('../data/la_providers_clean.csv')

In [18]:
nashville_outpatient_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 17 columns):
Unnamed: 0                                   7 non-null int64
provider_id                                  7 non-null int64
provider_name                                7 non-null object
provider_street_address                      7 non-null object
provider_city                                7 non-null object
provider_state                               7 non-null object
provider_zip_code                            7 non-null int64
provider_hospital_referral_region_(hrr)      7 non-null object
apc                                          7 non-null int64
apc_description                              7 non-null object
beneficiaries                                7 non-null int64
comprehensive_apc_services                   7 non-null int64
average_estimated_total_submitted_charges    7 non-null object
average_medicare_allowed_amount              7 non-null object
average_medicare_payment_amount              7 non-null object
outlier_comprehensive_apc_services           5 non-null float64
average_medicare_outlier_amount              5 non-null object
dtypes: float64(1), int64(6), object(10)
memory usage: 1.1+ KB

In [15]:
nashville_outpatient_clean['provider_name'].value_counts()

Tristar Centennial Medical Center        1
Tristar Southern Hills Medical Center    1
Tristar Skyline Medical Center           1
Saint Thomas Midtown Hospital            1
Metro Nashville General Hospital         1
Vanderbilt University Medical Center     1
Saint Thomas West Hospital               1
Name: provider_name, dtype: int64

# Note
This looks like a small data set for Nashville. Concerned that it was too small, I went back to 02-goal_option_1 and confirmed that this small set is correct. It is the set of outpatients filtered by APC = 5302.

In [19]:
nashville_outpatient_clean

,Unnamed: 0,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zip_code,provider_hospital_referral_region_(hrr),apc,apc_description,beneficiaries,comprehensive_apc_services,average_estimated_total_submitted_charges,average_medicare_allowed_amount,average_medicare_payment_amount,outlier_comprehensive_apc_services,average_medicare_outlier_amount
0,49935,440006,Tristar Skyline Medical Center,3441 Dickerson Pike,Nashville,TN,37207,TN - Nashville,5302,Level 2 Upper GI Procedures,13,15,"$14,899","$1,249",$995,0.0,$0
1,50269,440039,Vanderbilt University Medical Center,1211 Medical Center Drive,Nashville,TN,37232,TN - Nashville,5302,Level 2 Upper GI Procedures,477,623,"$7,121","$1,206",$959,NaN,NaN
2,50660,440082,Saint Thomas West Hospital,"4220 Harding Rd, Po Box 380",Nashville,TN,37205,TN - Nashville,5302,Level 2 Upper GI Procedures,189,207,"$6,350","$1,225",$971,0.0,$0
3,50790,440111,Metro Nashville General Hospital,1818 Albion Street,Nashville,TN,37208,TN - Nashville,5302,Level 2 Upper GI Procedures,11,12,"$4,489","$1,249",$995,0.0,$0
4,50923,440133,Saint Thomas Midtown Hospital,2000 Church St,Nashville,TN,37236,TN - Nashville,5302,Level 2 Upper GI Procedures,76,98,"$8,420","$1,238",$985,NaN,NaN
5,51056,440161,Tristar Centennial Medical Center,2300 Patterson Street,Nashville,TN,37203,TN - Nashville,5302,Level 2 Upper GI Procedures,151,170,"$11,862","$1,208",$954,0.0,$0
6,51288,440197,Tristar Southern Hills Medical Center,391 Wallace Rd,Nashville,TN,37211,TN - Nashville,5302,Level 2 Upper GI Procedures,44,49,"$20,274","$1,228",$974,0.0,$0

# Note
nashville_providers_clean is larger, but still relatively small.

In [24]:
nashville_providers_clean

,Unnamed: 0,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,...,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_medicare_allowed_amt,average_submitted_chrg_amt,average_medicare_payment_amt,average_medicare_standard_amt
0,738359,1073598066,UROLOGY SURGERY CENTER LP,NaN,NaN,NaN,NaN,O,2801 CHARLOTTE AVE,NaN,...,50590,Shock wave crushing of kidney stones,N,113.0,99.0,113.0,1679.970000,4232.000000,1262.982655,1372.380354
1,738360,1073598066,UROLOGY SURGERY CENTER LP,NaN,NaN,NaN,NaN,O,2801 CHARLOTTE AVE,NaN,...,52000,Diagnostic examination of the bladder and blad...,N,939.0,864.0,939.0,271.358019,602.188498,206.589010,217.061416
2,738361,1073598066,UROLOGY SURGERY CENTER LP,NaN,NaN,NaN,NaN,O,2801 CHARLOTTE AVE,NaN,...,52005,Insertion of catheter into urinary duct (urete...,N,18.0,18.0,18.0,616.153333,2042.000000,454.638333,509.323333
3,738362,1073598066,UROLOGY SURGERY CENTER LP,NaN,NaN,NaN,NaN,O,2801 CHARLOTTE AVE,NaN,...,52204,Biopsy of the bladder using an endoscope,N,61.0,52.0,61.0,695.915410,2042.000000,538.895246,565.114918
4,738363,1073598066,UROLOGY SURGERY CENTER LP,NaN,NaN,NaN,NaN,O,2801 CHARLOTTE AVE,NaN,...,52234,Destruction and/or removal of (0.5 to 2.0 cent...,N,24.0,23.0,24.0,1092.442500,2042.000000,827.009583,897.372500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,7964980,1801923636,"NASHVILLE GASTROINTESTINAL SPECIALISTS, LLC",NaN,NaN,NaN,NaN,O,2010 CHURCH STREET,SUITE 420,...,45380,Biopsy of large bowel using an endoscope,N,53.0,53.0,53.0,397.345849,1500.000000,306.976038,318.342830
286,7964981,1801923636,"NASHVILLE GASTROINTESTINAL SPECIALISTS, LLC",NaN,NaN,NaN,NaN,O,2010 CHURCH STREET,SUITE 420,...,45385,Removal of polyps or growths of large bowel us...,N,121.0,121.0,121.0,455.918264,1500.000000,355.419339,368.464959
287,7964982,1801923636,"NASHVILLE GASTROINTESTINAL SPECIALISTS, LLC",NaN,NaN,NaN,NaN,O,2010 CHURCH STREET,SUITE 420,...,G0105,Colorectal cancer screening; colonoscopy on in...,N,61.0,61.0,61.0,325.460656,1500.000000,318.948361,330.590000
288,7964983,1801923636,"NASHVILLE GASTROINTESTINAL SPECIALISTS, LLC",NaN,NaN,NaN,NaN,O,2010 CHURCH STREET,SUITE 420,...,G0121,Colorectal cancer screening; colonoscopy on in...,N,50.0,50.0,50.0,320.436000,1500.000000,314.024400,325.486000
289,8665828,1871960153,"TURNER SURGERY CENTER, LLC",NaN,NaN,NaN,NaN,O,28 WHITE BRIDGE RD STE 210,NaN,...,63650,Implantation of spinal neurostimulator electro...,N,26.0,13.0,13.0,4238.830000,9328.763077,3323.240000,3444.480000

# Get average_medicare_allowed_amount

In [72]:
# outpatient: average_medicare_allowed_amount
nashville_outpatient_amaa = nashville_outpatient_clean[['provider_zip_code', 'provider_name', 'average_medicare_allowed_amount']].sort_values('average_medicare_allowed_amount')
nashville_outpatient_amaa

,provider_zip_code,provider_name,average_medicare_allowed_amount
1,37232,Vanderbilt University Medical Center,"$1,206"
5,37203,Tristar Centennial Medical Center,"$1,208"
2,37205,Saint Thomas West Hospital,"$1,225"
6,37211,Tristar Southern Hills Medical Center,"$1,228"
4,37236,Saint Thomas Midtown Hospital,"$1,238"
0,37207,Tristar Skyline Medical Center,"$1,249"
3,37208,Metro Nashville General Hospital,"$1,249"

In [76]:
# provider: average_medicare_allowed_amount
nashville_providers_amaa = nashville_providers_clean[['nppes_provider_zip', 'nppes_provider_last_org_name', 'average_medicare_allowed_amt']].sort_values('average_medicare_allowed_amt')
nashville_providers_amaa

,nppes_provider_zip,nppes_provider_last_org_name,average_medicare_allowed_amt
1,372052013,ENDOSCOPY CENTER OF ST THOMAS LP,565.636471
0,372192446,ENDOSCOPY CENTER OF INLAND EMPIRE LLC,660.990000

In [ ]:
# outpatient: average_medicare_allowed_amount
tennessee_outpatient_amaa = tennessee_outpatient_clean[['provider_zip_code', 'provider_name', 'average_medicare_allowed_amount']].sort_values('average_medicare_allowed_amount')
tennessee_outpatient_amaa

In [78]:
tennessee_providers_amaa = tennessee_providers_clean[['nppes_provider_zip', 'nppes_provider_last_org_name', 'average_medicare_allowed_amt']].sort_values('average_medicare_allowed_amt')
tennessee_providers_amaa

,nppes_provider_zip,nppes_provider_last_org_name,average_medicare_allowed_amt
7,385012454,UPPER CUMBERLAND PHYSICIANS SURGERY CENTER LLC,500.692923
0,378874200,WARTBURG SURGERY CENTER LLC,512.000000
5,376603220,"HOLSTON VALLEY AMBULATORY SURGERY CENTER, LLC",516.890000
4,379223355,FORT SANDERS WEST OP SURGERY CENTER,524.800000
2,372052013,ENDOSCOPY CENTER OF ST THOMAS LP,565.636471
9,381381741,G I DIAGNOSTIC AND THERAPEUTIC CENTER LLC,571.740000
3,384014825,COLUMBIA TN ENDOSCOPY ASC LLC,587.110000
6,370664559,PATIENT PARTNERS LLC,587.110000
8,371292598,MURFREESBORO MEDICAL CLINIC P A,587.110000
1,372192446,ENDOSCOPY CENTER OF INLAND EMPIRE LLC,660.990000